.main-div-on-pager{
    background: url("../img/rana-sawalha-364253-unsplash.png");
    background-size: cover;
    min-width: 725px;
    height: 100vh;
}
.header{
    background: rgba(0,0,0,0.5);
    padding:20px 80px 43px 80px;
}
.header-logo{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: left;
}
.header-logo:hover{
    color: #3cb878;
}
.header-icon-registration{
    float: right;
}
.icon{
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-header{
    margin-right:28px ;
}
.icon-calendar{
    width: 19px;
    height: 19px;
    background-position: -20px -80px;
}
.icon-calendar:hover{
    background-position: -79px -80px;
}
.icon-forum{
    width: 28px;
    height: 20px;
    background-position: -135px -20px;
}
.icon-forum:hover{
    background-position: -138px -80px;
}
.icon-journey{
    width: 20px;
    height: 20px;
    background-position: -20px -140px;
}
.icon-journey:hover{
    background-position: -80px -140px;
}
.header-registration{
    padding-left: 28px;
    border-left: 1px solid #302f2e;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}
.header-registration>a{
    color: #3cb878;
}
.header-registration-log-in:hover{
    text-decoration: underline;
}
.header-registration-sign-in:hover{
    text-decoration: underline;
}
.header-logo:after {
    content: "";
    clear: both;
    display: block;
}
.registration-window{
    width: 440px;
    box-sizing: border-box;
    padding: 30px 60px 30px 60px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 65px auto 0 auto;

}
.registration-window-log-in{

}
.registration-sign-in{
    float: left;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
}
.registration-sign-in:before{
    display: inline-block;
    position: absolute;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.registration-log-in{
    font-family: sans-serif;
    font-size: 14px;
    color: #3cb878;
    float: right;
}
.registration-log-in:hover{
    text-decoration: underline;
}
.registration-window-log-in:after{
    content: "";
    display: block;
    clear: both;
}
.registration-button{
    margin-top:18px ;
}
.button-facebook{
    position: relative;
    background-color:#305db8 ;
    width: 156px;
    height: 46px;
    box-sizing: border-box;
    float: left;
    padding: 13px 0 8px 0;
    text-align: center;
    border-radius: 4px;
}
.button-facebook-inscription{
    display: inline-block;
    padding: 2px 0 2px 18px;
    border-left: 1px solid #2b54a5;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}
.button-facebook-inscription:before{
    position: absolute;
    left: 8px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position: -77px -20px;
}
.button-facebook:hover{
    background-color: #264b96;
}
.button-google{
    position: relative;
    background-color:#df4a32 ;
    width: 156px;
    height: 46px;
    box-sizing: border-box;
    float: right;
    padding: 13px 0 8px 0;
    text-align: center;
    border-radius: 4px;
}
.button-google:hover{
    background-color: #c3412c;
}
.button-google-inscription{
    display: inline-block;
    padding: 2px 0 2px 18px;
    border-left: 1px solid #af3a28;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}
.button-google-inscription:before{
    position: absolute;
    left: 15px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url("../img/spritesheet.png");
    background-position: -20px -20px;
}
.registration-button:after{
    content: "";
    display: block;
    clear: both;
}


.separator-or{
    position: relative;
    text-align: center;
    margin: 33px 0 20px 0;
}
.separator-or-inscription{
    font-family: sans-serif;
    display: inline-block;
    color: #848484;
    font-size: 14px;

}
.separator-or-inscription:before{
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #848484;
}
.separator-or-inscription:after{
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #848484;
}
input[type="text"],input[type="email"],input[type="password"]{
    padding: 18px 0 18px 18px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    border: #848484 solid 1px;
    margin: 9px 0 9px 0;

}
input[type="text"]:focus,input[type="text"]:active,input[type="email"]:focus,input[type="email"]:active,input[type="password"]:focus,input[type="password"]:active{
    outline: transparent;
    border: 1px solid transparent;
    box-shadow: 0 0 4px  4px gray;
}
.registration-checkbox{
    font-family: sans-serif;
    font-size: 14px;
    display: block;
    margin: 25px 0 25px 0;

}
.registration-checkbox-rules{
    color: #3cb878;
}
.registration-checkbox-rules:hover{
    text-decoration: underline;
}

.registration-button-submit{
    width: 100%;
    height: 45px;
    background-color: #3cb878;
    color: white;
    font-size: 16px;
}
.registration-button-submit:hover{
    background-color: #329a65;
}