.first-table{
    border-collapse: collapse;
    border: 22px solid #3a4965;
    font-family: Arimo;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    min-width: 845px;
}
.table-column{
    height: 70px;
}
.table-row:nth-child(2){
    height: 88px;
    background-color: #fafafa;
}
.table-row:last-child{
    height: 110px;
}
.table-column:first-child{
    width: 310px;
}
.table-column:nth-child(n+2){
    width: 278px;
}
.table-row:nth-child(2n+3){
    background-color: #f2f2f2;
}
.table-row:nth-child(2n+4){
    background-color: #e3e3e3;
}
.table-row:first-child .table-column:first-child{
    background-color: #fafafa;
}
.table-row:last-child .table-column:nth-child(n+2){
    background-color: #eeeeee;
}
.table-row:last-child .table-column:first-child{
    background-color: #dddddd;
}
.table-row:nth-child(2){
    color: #484848;
}
.table-row:nth-child(n+3){
    color: #848484;
}
.icon-something{
    padding-right: 13px;
}
.table-row:first-child .table-column:nth-child(n+2){
    color: white;
    font-size: 27px;
}
.table-column-standard{
    background-color: #89c331;
}
.table-column-ultimate{
    background-color: #f04a56;
}
.table-column-premium{
    background-color: #20807c;
}

.table-prise{
    position: relative;
    font-size: 16px;
}
.table-prise:before{
    content: "";
    display: inline-block;
    font-size: 60px;
    font-weight:bold ;
}
.table-prise:after{
    position: absolute;
    content: ".99";
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    bottom: 23px;
    left: 100px;
}
.table-row:nth-child(2) .table-column:first-child .table-prise:before{
    content: "$17";
}
.table-row:nth-child(2) .table-column:nth-child(2) .table-prise:before{
    content: "$37";
}
.table-row:nth-child(2) .table-column:last-child .table-prise:before{
    content: "$97";
}
.first-row-first-column{
    display: block;
    font-size: 20px;
}
.table-button{
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    width: 190px;
    height: 50px;
    outline: none;
}

.table-button:after{
    content: "";
    display: inline-block;
    width: 190px;
    height: 7px;
    position: absolute;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top:43px;
    right: 0;
}
.table-button-choose{
    background-color: #484848;
}
.table-button-choose:hover{
     background-color: #404040;
 }
.table-button-choose:after{
    background-color: #404040;
}
.table-button-standard{
    background-color: #89c331;
}
.table-button-standard:hover{
    background-color: #79b027;
}
.table-button-standard:after{
    background-color: #79b027;
}
.table-button-ultimate{
    background-color: #f04a56;
}
.table-button-ultimate:hover{
    background-color: #df3a46;
}
.table-button-ultimate:after{
    background-color: #df3a46;
}
.table-button-premium{
    background-color: #20807c;
}
.table-button-premium:hover{
    background-color: #16736f;
}
.table-button-premium:after{
    background-color: #16736f;
}
.table-column{
    border-left:1px solid  #d8d8d8;
    border-right:1px solid  #d8d8d8;
}