.first-table{
    border-collapse: collapse;
    border: 22px solid #3a4965;
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #848484;
}
.table-column{
    padding: 20px 10px 20px 10px;
    border-left:1px solid  #d8d8d8;
}
.table-row:nth-child(odd){
    background-color: #f2f2f2;
}
.table-row:nth-child(even){
    background-color: #e3e3e3;
}
.icon-something{
    padding-right: 13px;
}
.table-column-choose, .table-row:nth-child(2){
    color: #484848;
    background-color: #fafafa;
}
.table-column-choose{
    font-size: 18px;
}
.first-row-first-column{
    display: block;
    font-size: 30px;
}

.table-column-standard, .table-column-ultimate, .table-column-premium{
    color: white;
    font-size: 24px;
}
.table-column-standard{
    background-color: #89c331;
}
.table-column-ultimate{
    background-color: #f04a56;
    border-left-color: #89c331;

}
.table-column-premium{
    background-color: #20807c;
    border-left-color: #f04a56;
}
.table-prise{
    position: relative;
}
.table-prise:before{
    content: "";
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}
.table-prise:after{
    content: ".99";
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 22px;
    left: 99px;
}
.table-prise-to-standard:before{
    content: "$17";
}
.table-prise-to-ultimate:before{
    content: "$37";
}
.table-prise-to-premium:before{
    content: "$97";
}
.table-row:last-child{
    background-color: #f4f4f4;
}
.table-column-to-contact{
    background-color: #dddddd;
    border-right-color: #b5b6b9;
}
.table-button{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
    width: 190px;
    padding: 15px 0 15px 0;
    border-radius: 4px;
}
.table-button:after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left:0 ;
    width: 190px;
    height: 6px;
    border-bottom-left-radius:4px ;
    border-bottom-right-radius: 4px ;
}
.table-button-to-contact{
    background-color: #484848;
}
.table-button-to-contact:hover{
    background-color: #404040;
}
.table-button-to-contact:after{
    background-color: #404040;
}
.table-button-to-standard{
    background-color: #89c331;
}
.table-button-to-standard:hover{
    background-color: #79b027;

}
.table-button-to-standard:after{
    background-color: #79b027;
}
.table-button-to-ultimate{
    background-color: #f04a56;
}
.table-button-to-ultimate:hover{
    background-color: #df3a46;
}
.table-button-to-ultimate:after{
    background-color: #df3a46;
}
.table-button-to-premium{
    background-color: #20807c;
}
.table-button-to-premium:hover{
    background-color: #16736f;
}
.table-button-to-premium:after{
    background-color: #16736f;
}
